.effectsCollector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 15px 0px;
  width: 100%;
  height: fit-content;
}
.effectBody {
  background-color: #151515;
  width: 100%;
  min-width: 376px;
  max-width: 420px;
  border-radius: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-bottom: 10px;
}
.effectHeader {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.effectNameBox {
  font-weight: 800;
  font-size: 12pt;
  margin-left: 25px;
  white-space: nowrap;
}
.buttonsCollector {
  margin-right: 12px;
}
.executeEffectButton {
  margin-right: 12px;
}
.effectContent {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.effectBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.effectPropertyLabel {
  font-size: 10pt;
}