@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

* {
  user-select: none;
  font-family: montserrat;
}

body {
  color: white;
  margin: 0;
  padding: 0;
}

#appContainer {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none !important;
}

.alertBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.alertContent{
  font-size: large;
  font-weight: 800;
  background-color: rgb(238, 125, 125);
  padding: 22px;
  border-radius: 32px;
}
.alertContent:hover{

}
.alertContent:focus{
  outline: none;
}